{{ form_start(form) }}
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_row(form.name, {
            'attr': {'class': 'form-control'}
        }) }}
    </div>
    <div class="col-md-6 mb-3">
        {{ form_row(form.email, {
            'attr': {'class': 'form-control'}
        }) }}
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.roles) }}
    <div class="d-flex gap-3 mt-2">
        {% for child in form.roles %}
            <div class="form-check form-check-inline">
                {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
            </div>
        {% endfor %}
    </div>
</div>

<div class="mb-4">
    {{ form_row(form.plainPassword, {
        'attr': {'class': 'form-control'},
        'label': is_new ? 'Set Password' : 'Change Password (optional)'
    }) }}
</div>

<div class="d-flex justify-content-end gap-2">
    <a href="{{ path('app_admin_user_index') }}" class="btn btn-light border">Cancel</a>
    <button class="btn btn-primary px-4">
        <i class="fa-solid fa-save me-2"></i>{{ button_label|default('Save User') }}
    </button>
</div>
{{ form_end(form) }}
